/* ============
common css
=============*/
@font-face {
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  src: url("../fonts/Segoe\ ui\ historic.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
}
