/* ============
common css
=============*/
@font-face {
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  src: url("../fonts/Segoe\ ui\ historic.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  background-color: #18191a;
  color: #e4e6eb;
}
/* ============
header style
=============*/
header {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #242526;
  /* 3A3B3C */
  padding: 0 20px;
  border-bottom: 1px solid #3b3e40;
  width: 100%;
}
.logo_area {
  display: flex;
  align-items: center;
}
.logo {
  width: 40px;
  height: 40px;
}
.logo a {
  text-decoration: none;
  display: block;
}
.logo img {
  width: 100%;
}
.search {
  display: flex;
  background-color: #3a3b3c;
  height: 40px;
  width: 240px;
  border-radius: 20px;
  align-items: center;
  padding: 0 15px;
  margin-left: 10px;
}
.search span {
  width: 30px;
  color: #b0b3b8;
}
.search input {
  border: none;
  outline: none;
  background-color: unset;
  flex-grow: 1;
  font-size: 15px;
  color: #e4e6eb;
}
.search input::placeholder {
  color: #b0b3b8;
  font-size: 15px;
}
.menu_toggler span {
  width: 40px;
  height: 40px;
  color: #b0b3b8;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-left: 10px;
  border-radius: 5px;
  position: relative;
  display: none;
}
.menu_toggler span:hover {
  background-color: #4f5152;
}
.menu_toggler span::after {
  content: attr(data-more);
  background-color: #b0b3b8;
  color: #000000;
  padding: 7px 14px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -42px;
  position: absolute;
  border-radius: 10px;
  display: none;
}
.menu_toggler span:hover::after {
  /* display: block; */
}
.menu_area nav ul {
  display: flex;
  align-items: center;
}
.menu_area nav ul li {
  list-style: none;
  position: relative;
  margin-right: 15px;
}
.menu_area ul li:last-child {
  display: none;
}
.menu_area nav ul li:last-child {
  margin-right: 0px;
}
.menu_area nav ul li a {
  text-decoration: none;
  /* background-color: #4f5050; */
  padding: 10px 40px;
  display: block;
  text-decoration: none;
  color: #b0b3b8;
  border-radius: 10px;
  transition: 0.2s;
  position: relative;
}
.menu_area nav ul li a span {
  font-size: 25px;
}
/* .menu_area nav ul li:nth-child(4) a span {
  border: 2px solid gray;
  border-radius: 50%;
  padding: 2px;
} */
.menu_area nav ul li a:hover {
  background-color: #3a3b3c;
}
.menu_area ul li a::after {
  content: attr(data-tag);
  background-color: #b0b3b8;
  color: #000000;
  padding: 7px 14px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -42px;
  position: absolute;
  border-radius: 10px;
  display: none;
}
.menu_area nav ul li:first-child::after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -10;
  background-color: #2374e1;
}
.menu_area nav ul li:first-child a span {
  color: #2374e1;
}

.menu_area nav ul li a:hover::after {
  display: block;
}
.menu_area nav ul li:first-child a:hover {
  background-color: unset;
}

.profile_area ul {
  display: flex;
  align-items: center;
}
.profile_area ul li {
  color: #e4e6eb;
  background-color: #3a3b3c;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  list-style: none;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}
.profile_area ul li:nth-child(3) {
  display: none;
}

.profile_area ul li:hover {
  background-color: #4f5152;
}
.profile_area ul li:last-child {
  margin-right: 0px;
}

.profile_area ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px 10px 5px 5px;
  border-radius: 20px;
  transition: 0.2s;
}

.profile_area ul li:first-child a:hover {
  background-color: #3a3b3c;
}
.profile a {
  display: flex;
  align-items: center;
}
.profile a img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 7px;
}
.profile_area ul li:first-child {
  background-color: unset;
  width: unset;
  height: unset;
  padding: unset;
}

.profile_area ul li::after {
  content: attr(data-tag);
  background-color: #b0b3b8;
  color: #000000;
  padding: 7px 14px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -46px;
  position: absolute;
  border-radius: 10px;
  display: none;
}

.profile_area ul li:last-child::after {
  transform: translateX(-70%);
}
.profile_area ul li:hover::after {
  display: block;
}
.profile_area ul li:first-child::after {
  display: none;
}

/* ============
main section
============== */
header {
  position: fixed;
  top: 0;
  left: 0;
}
main {
  max-width: 1464px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.left_side,
.right_side {
  flex-basis: 330px;
  height: 100vh;
  background-color: rgb(44, 44, 44);
  padding: 70px 10px 10px 10px;
  overflow: auto;
}

.middle_section {
  flex-grow: 1;
  height: 100vh;
  padding-top: 56px;
}
.left_menu {
  width: 100%;
  margin-bottom: 10px;
}
.left_menu li {
  list-style: none;
  width: 100%;
}

.left_menu li a {
  text-decoration: none;
  color: #e4e6eb;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  transition: 0.2s;
  font-size: 15px;
  font-weight: 500;
}
.left_menu li a:hover {
  background-color: #3a3b3c;
}

.left_menu li img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}
.left_menu li:first-child img {
  border-radius: 50%;
}
.left_menu li:last-child a div {
  margin-right: 10px;
  background-color: #3a3b3c;
  height: 28px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.separator {
  width: 100%;
  height: 1px;
  background-color: #3a3b3c;
}

/* Your shortcuts */
.shortcuts_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.shortcuts_title h3 {
  font-size: 17px;
  font-weight: 600;
  color: #b0b3b8;
}
.shortcuts_title button {
  border: none;
  background-color: unset;
  color: #4599ff;
  font-size: 15px;
  line-height: 20px;
  display: none;
  padding: 8px;
  border-radius: 5px;
  transition: 0.2s;
}
.shortcuts_title button:hover {
  background-color: #3a3b3c;
}
.shortcuts_area:hover .shortcuts_title button {
  display: block;
}

.shortcut_list li:first-child a img {
  border-radius: 5px;
}
.shortcut_list li a img {
  border-radius: 5px;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: unset;
}
::-webkit-scrollbar-track:hover {
  background: #363636;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(75, 74, 74);
  border-radius: 25px;
  display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.left_side:hover::-webkit-scrollbar-thumb {
  display: block;
}
/* scrollbar */

.left_footer {
  color: #b0b3b8;
  font-size: 14px;
}
.left_footer a {
  font-size: 13px;
  text-decoration: none;
  color: #b0b3b8;
}
.left_footer span {
  font-size: 12px;
  line-height: 20px;
}
.left_footer a:hover {
  text-decoration: underline;
}

/* ==========
rigth aside bar
=============== */

.sponsored_title {
  color: #b0b3b8;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 600;
}
.sponsore {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-top: 0px;
  padding: 8px;
}
.sponsore img {
  width: 120px;
  margin-right: 15px;
  border-radius: 10px;
}
.sponsore_text small {
  color: #b0b3b8;
}
.birthday_title {
  color: #b0b3b8;
  margin: 15px 0;
  font-size: 17px;
  font-weight: 600;
}
.birthday_content {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-top: 0px;
  padding: 8px;
  font-weight: 600px;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.birthday_content img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.birthday_content:hover {
  background-color: #3a3b3c;
}

.contact_section {
}
.contact_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #b0b3b8;
  font-size: 17px;
  font-weight: 600;
  margin: 10px 0;
}
.search_contact {
  display: flex;
  align-items: center;
}
.search_contact span {
  height: 40px;
  width: 40px;
  margin-left: 15px;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search_contact span:hover {
  background-color: #3a3b3c;
}

/* ============
contact section
=============== */
.chat_list img {
  border-radius: 50%;
}
.conversations_title {
  color: #b0b3b8;
  font-size: 17px;
  font-weight: 600;
  margin: 10px 0;
}

.group_list img {
  border-radius: 50%;
  position: relative;
}

.chat_list img::after {
  /* content: "";
  width: 4px;
  height: 4px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0; */
}
/* .chat_list li {
  position: relative;
}
.chat_list li::after {
  content: "";
  width: 7px;
  height: 7px;
  background-color: green;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  left: 30;
  bottom: 10;
} */
/* .chat_list li a {
  position: relative;
}
.chat_list li a::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
} */
